<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% drink.name %></title>
</head>
<body>
    <h1>name: <%= drink.name %></h1>
    <ul>
        <li>price: $<%= drink.price %></li>
        <li><img src="<%= drink.image %>.jpeg" alt="<%= drink.name %>"></li>
    </ul>
    <h3><a href="/drink">GO BACK TO LIST OF drinks</a></h3>
</body>
</html>